airtable==0.4.8
certifi==2022.5.18
charset-normalizer==2.0.12; python_version >= "3"
click==8.0.4
colorama==0.4.4; platform_system == "Windows"
dataclasses==0.6; python_version < "3.7"
flask==2.0.3
flask-api==3.0.post1
gunicorn==20.1.0
idna==3.3; python_version >= "3"
importlib-metadata==4.8.3; python_version < "3.8"
itsdangerous==2.0.1
jinja2==3.0.3
markupsafe==2.0.1
python-dotenv==0.20.0
requests==2.27.1
six==1.16.0
typing-extensions==4.1.1; python_version < "3.8"
urllib3==1.26.9
werkzeug==2.0.3
zipp==3.6.0; python_version < "3.8"
