<!DOCTYPE html>
<html><head>

    <title>Flirtable</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/index.css?v={{ config.VERSION }}" />

</head>
<body class="gallery">

  <hide>
    <header>
      {% if config.LOGO_URL %}
        <a class="logo" href="{{ config.LOGO_URL }}">
          <div class="title">Flirtable</div>
        </a>
      {% endif %}
      <nav>
      {% if config.AIRTABLE_FORM %}
        <a href="{{ config.AIRTABLE_FORM }}" target="_blank"><button class="btn">&#x25BC;&nbsp;Contribute</button></a>
      {% endif %}
      {% if config.MAPBOX_KEY %}
        <a href="#" id="geolocate" title="Center on my location"><button class="btn bg-blue-500">&#8858;</button></a>
      {% endif %}
      {% if nextpage %}
        <a href="{{ nextpage }}"><button class="bg-gray-500 hover:bg-gray-700 text-white p-2 rounded">&#9654; More ...</button></a>
      {% endif %}
        <a href="/refresh"><button class="bg-gray-500 hover:bg-gray-700 text-white p-2 rounded">&#8635;</button></a>
      </nav>
    </header>
  </hide>

  <form id="search" class="flex flex-wrap m-8">
    <div class="w-full lg:w-1/3 ml-auto mr-auto items-center border-b border-black py-2">
      <input class="w-full appearance-none bg-transparent text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none focus:bg-teal-700 hover:bg-teal-700 text-sm text-black py-1 px-2 rounded" type="text" placeholder="Search ..." aria-label="Search query">
    </div>
  </form>


  <div id="gallery" class="flex flex-wrap" tabindex="0"></div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js" integrity="sha512-BrvVYNhKh6yST24E5DY/LopLO5d+8KYmIXyrpBIJ2PK+CyyJw/cLSG/BfJomWLC1IblNrmiJWGlrGueKLd/Ekw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js" integrity="sha512-HYiNpwSxYuji84SQbCU5m9kHEsRqwWypXgJMBtbRSumlx1iBB6QaxgEBZHSHEGM+fKyCX/3Kb5V5jeVXm0OglQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
const BASE_FIELDS = "{{ config.BASE_FIELDS }}".split(';');
const POPUP_FIELDS = "{{ config.POPUP_FIELDS }}".split(',');
const BASE_DETAIL_URL = '{{ config.AIRTABLE_LINK }}';
const MAX_FIELD_LENGTH = 100;
</script>
<script src="static/index.js?v={{ config.VERSION }}"></script>

</html>
