<div class="item w-full sm:w-1/2 md:w-1/3 lg:w-1/3">
  <a class="m-6 p-6 lg:p-10 rounded-xl shadow-lg bg-white" style="display:block"
     href="{{ detailurl }}" target="_blank">
    <div class="flex">
      <div class="w-1/3">
        {{#imageurl}}
          <img class="h-12 w-12" src="{{ imageurl }}">
        {{/imageurl}}
      </div>
      <div class="w-2/3 text-right">
        {{#moment}}
          <div class="text-md text-gray-400">{{ moment }}</div>
        {{/moment}}
        {{#address}}
          <div class="text text-gray-600">{{ address }}</div>
        {{/address}}
      </div>
    </div>
    <div class="details mt-4">
      {{#name}}
        <div class="name mt-2 text-slate-500 text-sm">{{ name }}</div>
      {{/name}}
      <div class="title text-xl font-bold text-black">{{ title }}</div>
      {{#summary}}
        <div class="summary mt-4 text-slate-500">{{ summary }}</div>
      {{/summary}}
      <div class="fields mt-4 text-sm">
      {{#fields}}
        {{^fulllist}}
          {{^fulltext}}
            <div class="fld {{ id }}" title="{{ name }}">
              <span>{{ data }}</span>
            </div>
          {{/fulltext}}
          {{#fulltext}}
            <div class="fld {{ id }}" title="{{ name }}">
              <span>
                {{ data }}
                <a onclick="fulltextLink(this)">...</a>
                <hide>{{ fulltext }}</hide>
              </span>
            </div>
          {{/fulltext}}
        {{/fulllist}}
        <div class="fld {{ id }}" title="{{ name }}">
        {{#fulllist}}
          <span>{{ . }}</span>
        {{/fulllist}}
        </div>
      {{/fields}}
      </div>
    </div>

    {{#detailurl}}
      <div class="buttons mt-4 text-center">
        <span class="text-sm bg-transparent text-blue-700 font-semibold py-2 px-4 border border-transparent hover:border-blue-600 rounded">
          Details
        </span>
      </div>
    {{/detailurl}}
  </a>
</div>
